<p class="text-center" id="notice"><%= notice %></p>
<h1 class="text-center">
  <strong>Subject:</strong>
  <%= @lesson.subject %>
</h1>
<hr class="divider_line">
<h2>
  <h3 class="text-center"><b>Descrpition:</b></h3>
  <%= @lesson.descrpition.html_safe %>
</h2>


<% if signed_in? %>
    <p>
      <%= link_to @lesson.pdf_url, download: @lesson.subject do %>
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-floppy-open" aria-hiden="true"></span>
          </button>
      <% end %>

    </p>
<% end %>
<div class="text-right">
  <%= link_to edit_lesson_path(@lesson) do %>
      <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-cog" aria-hiden="true"></span>
      </button>
  <% end %>
</div>