<p class="text-center" id="notice"><%= notice %></p>
<h1 class="text-center">
  <strong>Subject:</strong>
  <%= @lesson.subject %>
</h1>

<h2 >
  <h3 class="text-center">
    <b>Descrpition:</b></h3>
  <%= @lesson.descrpition.html_safe %>
</h2>


<% if signed_in? %>
    <p>
      <strong>Linkt do pobrania:</strong>
      <%= @lesson.pdf %>
    </p>
<% end %>
<div class="text-right">
<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
</div>